footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6b5898;
    color: #ffffff;
    font-size: 0.8em;
    border-style: solid none none none;
    border-width: 2px;

    #app-version {
        color: #9884c7;
    }

    #developer {
        font-size: 0.9em;
        color: #bca9e5;
    }
}